
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->
<head>
  <title>Megano</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href="favicon.ico" rel="shortcut icon">
  <link rel="preload" href="assets/fonts/Roboto/Roboto-Regular.woff" as="font">
  <link rel="preload" href="assets/fonts/Roboto/Roboto-Italic.woff" as="font">
  <link rel="preload" href="assets/fonts/Roboto/Roboto-Bold.woff" as="font">
  <link rel="preload" href="assets/fonts/Roboto/Roboto-Bold_Italic.woff" as="font">
  <link rel="preload" href="assets/fonts/Roboto/Roboto-Light.woff" as="font">
  <link rel="preload" href="assets/fonts/Roboto/Roboto-Light_Italic.woff" as="font">
  <link rel="stylesheet" href="assets/css/fonts.css?v=72262496">
  <link rel="stylesheet" href="assets/css/basic.css?v=72262496">
  <link rel="stylesheet" href="assets/css/extra.css?v=72262496">
  <script src="assets/plg/CountDown/countdown.js"></script><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header class="Header">
    <div class="ControlPanel">
      <div class="wrap">
        <div class="row ControlPanel-row">
          <div class="row-block">
            <div class="row ControlPanel-rowSplit">
              <div class="row-block"><a class="ControlPanel-title" href="#">Free Delivery</a>
              </div>
              <div class="row-block hide_700"><span class="ControlPanel-title">Follow Us</span>
                <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                  <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialHeader/fb.svg" alt="fb.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialHeader/tw.svg" alt="tw.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialHeader/in.svg" alt="in.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialHeader/pt.svg" alt="pt.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialHeader/mail.svg" alt="mail.svg"/></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <nav class="row-block">
            <div class="row ControlPanel-rowSplit">
              <div class="row-block"><a class="ControlPanel-title" href="account.html">Login / Register</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!--+div.menuModal#navigate
      //    +menu([
      //        ['Главная','index.html'],
      //        ['Портфолио','index.html'],
      //        ['Мои проекты','index.html'],
      //        ['Контакты','index.html']
      //    ], page === 'article'? 'Портфолио': 'Главная')._main
      
      block
      -->
    </div>
    <div class="wrap">
      <div class="row Header-rowMain">
        <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image" src="assets/img/logo.png" alt="logo.png"/></a>
        </div>
        <nav class="row-block row-block_right Header-menu">
          <div class="menuModal" id="navigate">
            <ul class="menu menu_main">
              <li class="menu-item"><a class="menu-link" href="index.html">Home</a>
              </li>

              <li class="menu-item"><a class="menu-link" href="sale.html">Blog</a>
              </li>
              <li class="menu-item"><span class="menu-label menu-label_success">Hot</span><a class="menu-link" href="product.html">Gallery</a>
              </li>

              <li class="menu-item"><a class="menu-link" href="catalog.html">Purchase</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row-block">
          <div class="CartBlock"><a class="CartBlock-block" href="cart.html"><img class="CartBlock-img" src="assets/img/icons/cart.svg" alt="cart.svg"/><span class="CartBlock-amount">0</span></a>
            <div class="CartBlock-block"><span class="CartBlock-price">0.00$</span>
            </div>
          </div>
        </div>
        <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
            <div class="menuTrigger-content">Показать навигацию
            </div><span></span><span></span><span></span></a>
        </div>
      </div>
    </div>
    <div class="Header-searchWrap">
      <div class="wrap">
        <div class="Header-categories">
          <div class="CategoriesButton">
            <div class="CategoriesButton-title">
              <div class="CategoriesButton-icon"><img src="assets/img/icons/allDep.svg" alt="allDep.svg"/>
              </div><span class="CategoriesButton-text">All Departments</span>
              <div class="CategoriesButton-arrow">
              </div>
            </div>
            <div class="CategoriesButton-content">
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/1.svg" alt="1.svg"/>
                  </div><span class="CategoriesButton-text">Accessories</span></a>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/2.svg" alt="2.svg"/>
                  </div><span class="CategoriesButton-text">Bags</span></a>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/3.svg" alt="3.svg"/>
                  </div><span class="CategoriesButton-text">Cameras</span></a><a class="CategoriesButton-arrow" href="#"></a>
                <div class="CategoriesButton-submenu"><a class="CategoriesButton-link" href="#">
                    <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/1.svg" alt="1.svg"/>
                    </div><span class="CategoriesButton-text">Accessories</span></a><a class="CategoriesButton-link" href="#">
                    <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/2.svg" alt="2.svg"/>
                    </div><span class="CategoriesButton-text">Bags</span></a>
                </div>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/4.svg" alt="4.svg"/>
                  </div><span class="CategoriesButton-text">Clothings</span></a>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/5.svg" alt="5.svg"/>
                  </div><span class="CategoriesButton-text">Electronics</span></a>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/6.svg" alt="6.svg"/>
                  </div><span class="CategoriesButton-text">Fashion</span></a>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/7.svg" alt="7.svg"/>
                  </div><span class="CategoriesButton-text">Furniture</span></a><a class="CategoriesButton-arrow" href="#"></a>
                <div class="CategoriesButton-submenu"><a class="CategoriesButton-link" href="#">
                    <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/1.svg" alt="1.svg"/>
                    </div><span class="CategoriesButton-text">Accessories</span></a><a class="CategoriesButton-link" href="#">
                    <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/2.svg" alt="2.svg"/>
                    </div><span class="CategoriesButton-text">Bags</span></a>
                </div>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/8.svg" alt="8.svg"/>
                  </div><span class="CategoriesButton-text">Lightings</span></a>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/9.svg" alt="9.svg"/>
                  </div><span class="CategoriesButton-text">Mobiles</span></a>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/10.svg" alt="10.svg"/>
                  </div><span class="CategoriesButton-text">Trends</span></a>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/11.svg" alt="11.svg"/>
                  </div><span class="CategoriesButton-text">More</span></a><a class="CategoriesButton-arrow" href="#"></a>
                <div class="CategoriesButton-submenu"><a class="CategoriesButton-link" href="#">
                    <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/1.svg" alt="1.svg"/>
                    </div><span class="CategoriesButton-text">Accessories</span></a><a class="CategoriesButton-link" href="#">
                    <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/2.svg" alt="2.svg"/>
                    </div><span class="CategoriesButton-text">Bags</span></a>
                </div>
              </div>
              <div class="CategoriesButton-link"><a href="#">
                  <div class="CategoriesButton-icon"><img src="assets/img/icons/departments/12.svg" alt="12.svg"/>
                  </div><span class="CategoriesButton-text">Lightings</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="Header-searchLink"><img src="assets/img/icons/search.svg" alt="search.svg"/>
        </div>
        <div class="Header-search">
          <div class="search">
            <form class="form form_search" action="#" method="post">
              <input class="search-input" id="query" name="query" type="text" placeholder="What are you looking for ..."/>
              <button class="search-button" type="submit" name="search" id="search"><img src="assets/img/icons/search.svg" alt="search.svg"/>Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Корзина
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <form class="form Cart" action="#" method="post">
          <div class="Cart-product">
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">Ноутбук</a>
                <div class="Cart-desc">Это супер ноутбук, 3 гб. 4 ядра
                </div>
              </div>
              <div class="Cart-block Cart-block_price">
                <div class="Cart-price">80.00$
                </div>
              </div>
            </div>
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_seller">
                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
              
              </div>
              <div class="Cart-block Cart-block_amount">
                <div class="Cart-amount">
                  <div class="Amount">
                    <button class="Amount-remove" type="button">
                    </button>
                    <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                    <button class="Amount-add" type="button">
                    </button>
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="#"><img src="assets/img/icons/card/delete.svg" alt="delete.svg"/></a>
              </div>
            </div>
          </div>
          <div class="Cart-product">
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="assets/img/content/sale/product.png" alt="product.png"/></a>
              </div>
              <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">Планшет</a>
                <div class="Cart-desc">Это планшет с современным железом. Процессор последнего поколения
                </div>
              </div>
              <div class="Cart-block Cart-block_price">
                <div class="Cart-price">40.99$
                </div>
              </div>
            </div>
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_seller">
                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
          
              </div>
              <div class="Cart-block Cart-block_amount">
                <div class="Cart-amount">
                  <div class="Amount">
                    <button class="Amount-remove" type="button">
                    </button>
                    <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                    <button class="Amount-add" type="button">
                    </button>
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="#"><img src="assets/img/icons/card/delete.svg" alt="delete.svg"/></a>
              </div>
            </div>
          </div>
          <div class="Cart-product">
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              </div>
              <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">Ноутбук</a>
                <div class="Cart-desc">Это супер ноутбук, 3 гб. 4 ядра
                </div>
              </div>
              <div class="Cart-block Cart-block_price">
                <div class="Cart-price">80.00$
                </div>
              </div>
            </div>
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_seller">
                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
              
              </div>
              <div class="Cart-block Cart-block_amount">
                <div class="Cart-amount">
                  <div class="Amount">
                    <button class="Amount-remove" type="button">
                    </button>
                    <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                    <button class="Amount-add" type="button">
                    </button>
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="#"><img src="assets/img/icons/card/delete.svg" alt="delete.svg"/></a>
              </div>
            </div>
          </div>
          <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
              <strong class="Cart-title">Итого:
              </strong><span class="Cart-price">200.99$</span>
            </div>
            <div class="Cart-block"><a class="btn btn_success btn_lg" href="order.html">Оформить заказ</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="Footer">
    <div class="wrap">
      <div class="row Footer-main">
        <div class="row-block"><a class="logo Footer-logo" href="index.html"><img class="logo-image" src="assets/img/logo_footer.png" alt="logo_footer.png"/></a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
          </p>
          <ul class="menu menu_img menu_smallImg Footer-menuSoc">
            <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialFooter/fb.svg" alt="fb.svg"/></a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialFooter/tw.svg" alt="tw.svg"/></a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialFooter/in.svg" alt="in.svg"/></a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialFooter/pt.svg" alt="pt.svg"/></a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#"><img src="assets/img/icons/socialFooter/mail.svg" alt="mail.svg"/></a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Useful Links
          </strong>
          <ul class="menu menu_vt Footer-menu">
            <li class="menu-item"><a class="menu-link" href="#">Checkout</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">My Cart</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Delivery</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Order Info</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Terms</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Conditions</a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">My Account
          </strong>
          <ul class="menu menu_vt Footer-menu">
            <li class="menu-item"><a class="menu-link" href="#">Accessories</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Bags</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Cameras</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Clothings</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Electronics</a>
            </li>
            <li class="menu-item"><a class="menu-link" href="#">Fashion</a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Contacts
          </strong>
          <p>Phone: 8.800.200.600<br>Email: Support@ninzio.com<br>Skype: techno<br>Address: New York, north<br>Avenue 26/7<br>0057
          </p>
        </div>
      </div>
    </div>
    <div class="Footer-copy">
      <div class="wrap">
        <div class="row row_space">
          <div class="row-block">© Copyright&#32;<a href="#">Megano Store.</a>&#32;All rights reserved.
          </div>
          <div class="row-block"><span>Accepted Payments</span>
            <div class="Footer-payments">
              <div><img src="assets/img/payments/visa.png" alt="visa.png"/>
              </div>
              <div><img src="assets/img/payments/mastercard.png" alt="mastercard.png"/>
              </div>
              <div><img src="assets/img/payments/paypal.png" alt="paypal.png"/>
              </div>
              <div><img src="assets/img/payments/american.png" alt="american.png"/>
              </div>
              <div><img src="assets/img/payments/electron.png" alt="electron.png"/>
              </div>
              <div><img src="assets/img/payments/maestro.png" alt="maestro.png"/>
              </div>
              <div><img src="assets/img/payments/delta.png" alt="delta.png"/>
              </div>
              <div><img src="assets/img/payments/e.png" alt="e.png"/>
              </div>
              <div><img src="assets/img/payments/dk.png" alt="dk.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--+Middle-->
  <!--    +div.-top-->
  <!--        +breadcrumbs('Главная','Портфолио')-->
  <!--    +Article('portfolio')-->
  <!---->
  <script src="assets/plg/jQuery/jquery-3.5.0.slim.min.js"></script>
  <script src="assets/plg/form/jquery.form.js"></script>
  <script src="assets/plg/form/jquery.maskedinput.min.js"></script>
  <script src="assets/plg/range/ion.rangeSlider.min.js"></script>
  <script src="assets/plg/Slider/slick.min.js"></script>
  <script src="assets/js/scripts.js"></script>
</body></html>