{% extends "base.html" %}
{% load static %}
{% load header_tags %}

{% block content %}

  {% block junior_header %}
    {% include "includes/junior_header.html" with title="Корзина" %}
  {% endblock %}

  <div class="Section">
    <div class="wrap">
      {% if records %}
        <form class="form Cart" action="#" method="post">

          {% for position in records %}

            {% with position.product as product %}
            <div class="Cart-product">
              <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_pict">
                  <a class="Cart-pict" href="{% url 'shop:product_detail' pk=product.id %}">
                    {% with product.images.first as img %}
                      <img class="Cart-img" src="{{ img.image.url }}" alt="{{ img.title }}"/>
                    {% endwith %}
                  </a>
                </div>
                <div class="Cart-block Cart-block_info">
                  <a class="Cart-title" href="{% url 'shop:product_detail' pk=product.id %}">{{ product.name }}</a>
                  <div class="Cart-desc">{{ product.definition|truncatechars:300 }}</div>
                </div>
                <div class="Cart-block Cart-block_price">
                  <div class="Cart-price">{{ position.position_cost }} <small>руб</small></div>
                </div>
              </div>

              <div class="Cart-block Cart-block_row">
                <div class="Cart-block Cart-block_seller">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                </div>
                <div class="Cart-block Cart-block_amount">
                  <div class="Cart-amount">
                    <div class="Amount">
{#                      <button class="Amount-remove" type="button"></button>#}
{#                      <input class="Amount-input form-input" name="amount" type="text" value="{{ position.count }}"/>#}
{#                      <button class="Amount-add" type="button"></button>#}

                        <a href="{% url 'shop:reduce_product' product_id=product.id %}" class="Amount-remove2"></a>  <!-- Уменьшить товар на 1 -->
                        <input id="{{ product.id }}" class="Amount-input form-input" name="amount" type="text" value="{{ position.count }}"/>
                        <a href="{% url 'shop:increase_product' product_id=product.id %}" class="Amount-add2"></a>  <!-- Увеличить товар на 1 -->

                    </div>
                  </div>
                </div>
                <div class="Cart-block Cart-block_delete">
                  <a class="Cart-delete" href="{% url 'shop:delete_product' product_id=product.id next=request.get_full_path %}">
                    <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/>
                  </a>
                </div>
              </div>
            </div>
            {%  endwith %}
          {% endfor %}

          <div class="Cart-total">
            <div class="Cart-block Cart-block_total flex">
              <strong class="Cart-title">Итого:</strong>
              {% products_cart as data %}
              <span class="Cart-price">{{ data.1 }} <small>руб</small></span>
            </div>
            <div class="Cart-block">
              <a class="btn btn_success btn_lg" href="{% url 'shop:order_registration' %}">Оформить заказ</a>
            </div>
          </div>

        </form>

      {% else %}
        <p>В корзине нет товаров...</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
