{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">

    {% block junior_header %}
      {% include "includes/junior_header.html" with title="Каталог" %}
    {% endblock %}

    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">

        {% block filter_block %}
          {% include "app_shop/includes/catalog/filters_block.html" with filter_parameters=filter_parameters %}
        {% endblock %}

        <div class="Section-content">

          {% block sorting_block %}
{#            {% include "app_shop/includes/catalog/sorting_block.html" %}#}
            <div class="Sort">
              <div class="Sort-title">Сортировать по:</div>
              <div class="Sort-variants">
                <a class="Sort-sortBy {{ sorting_indicator_by_popularity }}" href="#">Популярности</a>
                <a class="Sort-sortBy {{ sorting_indicator_by_price }}" href="{% url 'shop:sorted_by_price' %}">Цене</a>
                <a class="Sort-sortBy {{ sorting_indicator_by_reviews }}" href="#">Отзывам</a>
                <a class="Sort-sortBy {{ sorting_indicator_by_novelty }}" href="#">Новизне</a>
              </div>
            </div>
          {% endblock %}

          {% if products %}

            <div class="Cards">
              {% for product in products %}
                {% include "app_shop/includes/product_cards/cart_with_cost.html" with product=product %}
              {% endfor %}
            </div>

          {% else %}
            <p>Товаров нет...</p>
          {% endif %}

          <h2>Стандартная верстка с товарами</h2>

          <div class="Cards">

            <div class="Card">
              <a class="Card-picture" href="#">
                <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/>
              </a>
              <div class="Card-content">
                <strong class="Card-title">
                  <a href="product.html">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost">
                    <span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover">
                    <a class="Card-btn" href="#">
                      <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="Card">
              <a class="Card-picture" href="#">
                <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/>
              </a>
              <div class="Card-content">
                <strong class="Card-title">
                  <a href="product.html">Barand New Phone Smart Business</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost">
                    <span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover">
                    <a class="Card-btn" href="#">
                      <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="Card">
              <a class="Card-picture" href="#">
                <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/>
              </a>
              <div class="Card-content">
                <strong class="Card-title">
                  <a href="product.html">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost">
                    <span class="Card-price">$185.00</span>
                  </div>
                  <div class="Card-category">Digital / xbox
                  </div>
                  <div class="Card-hover">
                    <a class="Card-btn" href="#">
                      <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="Card"><a class="Card-picture" href="#">
              <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="product.html">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">$210.00</span>
                  </div>
                  <div class="Card-category">Media / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#">
                    <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                  </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="Card hide_md"><a class="Card-picture" href="#"><img
              src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="product.html">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img
                    src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="Card hide_md"><a class="Card-picture" href="#"><img
              src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="product.html">Barand New Phone Smart Business</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img
                    src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="Card hide_md hide_1450"><a class="Card-picture" href="#"><img
              src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="product.html">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">$185.00</span>
                  </div>
                  <div class="Card-category">Digital / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img
                    src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="Card hide_md hide_1450"><a class="Card-picture" href="#"><img
              src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="product.html">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">$210.00</span>
                  </div>
                  <div class="Card-category">Media / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img
                    src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          {% block paginate_block %}
            {% include "app_shop/includes/catalog/paginate_block.html" %}
          {% endblock %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
