{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="Middle">

    {% if selected_categories %}
      <div class="Section">
        <div class="wrap">
          <div class="BannersHome">
            {% for category in selected_categories %}
              <a class="BannersHomeBlock" href="{% url 'shop:products_list' group='category' name=category.slug %}">
                <div class="BannersHomeBlock-row">
                  <div class="BannersHomeBlock-block">
                    <strong class="BannersHomeBlock-title">{{ category.title }}</strong>
                    <div class="BannersHomeBlock-content">от&#32;
                        <span class="BannersHomeBlock-price">{{ category.min_price }}<small> руб</small></span>
                    </div>
                  </div>
                  <div class="BannersHomeBlock-block">
                    <div class="BannersHomeBlock-img">
                      <img src="{{ category.image.url }}" alt="{{ category.title }}"/>
                    </div>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if popular_products %}
      <div class="Section Section_column Section_columnDesktop"  >
        <div class="wrap">
          <div class="Section-content">
            <header class="Section-header">
              <h2 class="Section-title">Популярные товары</h2>
            </header>
            <div class="Cards">
              {% for product in popular_products %}
                {% include "app_shop/includes/product_cards/cart_with_cost.html" with product=product %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if limited_products %}
      <div class="Section Section_column Section_columnRight">
        <div class="wrap">
          <div class="Section-column">
            <div class="Section-columnSection Section-columnSection_mark">
              <div class="media media_advantage">
                <div class="media-image">
                    <img src="{% static 'assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
                </div>
                <div class="media-content">
                  <strong class="media-title">Доставка и возврат товара</strong>
                  <p class="media-text">Доставка по всему миру</p>
                </div>
              </div>
            </div>
            <div class="Section-columnSection Section-columnSection_mark">
              <div class="media media_advantage">
                <div class="media-image"><img src="{% static 'assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
                </div>
                <div class="media-content">
                  <strong class="media-title">Возврат денег</strong>
                  <p class="media-text">Гарантированные выплаты</p>
                </div>
              </div>
            </div>
            <div class="Section-columnSection Section-columnSection_mark">
              <div class="media media_advantage">
                <div class="media-image"><img src="{% static 'assets/img/icons/advantages/support.svg' %}" alt="support.svg"/></div>
                <div class="media-content">
                  <strong class="media-title">Круглосуточная поддержка</strong>
                  <p class="media-text">Быстрая комманда поддержки</p>
                </div>
              </div>
            </div>
            <div class="Section-columnSection Section-columnSection_mark">
              <div class="media media_advantage">
                <div class="media-image"><img src="{% static 'assets/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
                </div>
                <div class="media-content">
                  <strong class="media-title">Гарантия качества</strong>
                  <p class="media-text">Только лучшие товары</p>
                </div>
              </div>
            </div>
          </div>
          <div class="Section-content">
            <div class="Slider Slider_carousel">
              <header class="Section-header Section-header_close">
                <h2 class="Section-title">Ограниченный тираж</h2>
                <div class="Section-control">
                  <div class="Slider-navigate">
                  </div>
                </div>
              </header>
              <div class="Slider-box Cards">
                {% for product in limited_products %}
                  <div class="Slider-item">
                    <div class="Slider-content">
                      {% include "app_shop/includes/product_cards/cart_with_cost.html" with product=product %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
