{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% block junior_header %}
    {% include "includes/junior_header.html" with title="Товар" %}
  {% endblock %}

  <div class="Section">
    <div class="wrap">
      <div class="Product">
        <div class="ProductCard">
          <div class="ProductCard-look">
            <div class="ProductCard-photo">
              <img src="{% static 'assets/img/content/home/bigGoods.png' %}" alt="bigGoods.png"/>
            </div>
            <div class="ProductCard-picts"><a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{% static 'assets/img/content/home/bigGoods.png' %}"><img src="{% static 'assets/img/content/home/bigGoods.png' %}" alt="bigGoods.png"/></a><a class="ProductCard-pict" href="{% static 'assets/img/content/home/slider.png' %}"><img src="{% static 'assets/img/content/home/slider.png' %}" alt="slider.png"/></a><a class="ProductCard-pict" href="{% static 'assets/img/content/home/videoca.png' %}"><img src="{% static 'assets/img/content/home/videoca.png' %}" alt="videoca.png"/></a>
            </div>
          </div>
          <div class="ProductCard-desc">
            <div class="ProductCard-header">
              <h2 class="ProductCard-title">Barand New Phone Smart Busines
              </h2>
              <div class="ProductCard-info">
                <div class="ProductCard-cost">
                  <div class="ProductCard-price">$55.00
                  </div>
                </div>
              </div>
            </div>
            <div class="ProductCard-text">
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod
                </li>
                <li>tempor incididunt ut labore et dolore magna aliqua. Lorem
                </li>
                <li>ipsum dolor sit ameabore et dolore magna aliqua. Lorem ipsum
                </li>
              </ul>
            </div>
            <div class="ProductCard-cart">
              <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                <div class="Amount Amount_product">
                  <button class="Amount-remove" type="button">
                  </button>
                  <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                  <button class="Amount-add" type="button">
                  </button>
                </div>
              </div>
              <div class="ProductCard-cartElement"><a class="btn btn_primary" href="#"><img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/><span class="btn-content">Add To Cart</span></a>
              </div>
            </div>
            <div class="ProductCard-footer">
              <div class="ProductCard-tags">
                <strong class="ProductCard-tagsTitle">Tags:
                </strong><a href="#">Accesories</a>,<a href="#">Creative</a>,<a href="#">Design</a>,<a href="#">Gaming</a>
              </div>
            </div>
          </div>
        </div>
        <div class="Tabs Tabs_default">
          <div class="Tabs-links"><a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>Описание</span></a><a class="Tabs-link" href="#addit"><span>AdditionaL Info</span></a><a class="Tabs-link" href="#reviews"><span>Reviews (3)</span></a>
          </div>
          <div class="Tabs-wrap">
            <div class="Tabs-block" id="description">
              <h2>Megano Store Hystory
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetuer&#32;
                <strong>adipiscing
                </strong>&#32;elit doli. Aenean commodo ligula eget dolor. Aenean massa.&#32;<a href="#">Cumtipsu</a>&#32;sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem.
              </p><img class="pict pict_right" src="{% static 'assets/img/content/home/bigGoods.png' %}" alt="bigGoods.png"/>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer
                </li>
                <li>adipiscing elit doli.&#32;<em>Aenean</em>&#32;commodo ligula
                </li>
                <li>eget dolor. Aenean massa. Cumtipsu sociis
                </li>
                <li>natoque penatibus et magnis dis parturient
                </li>
                <li>montesti, nascetur ridiculus mus. Donec
                </li>
                <li>quam felis, ultricies nec, pellentesque eutu
                </li>
              </ul>
              <div class="clearfix">
              </div>
              <div class="table">
                <table>
                  <tr>
                    <th>Характеристика
                    </th>
                    <th>Значение
                    </th>
                  </tr>
                  <tr>
                    <td>ываыв
                    </td>
                    <td>llslssl
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="Tabs-block" id="sellers">
              <div class="Categories Categories_product">
              </div>
            </div>
            <div class="Tabs-block" id="addit">
              <div class="Product-props">
                <div class="Product-prop">
                  <strong>Lorem
                  </strong><span> Pfizer</span>
                </div>
                <div class="Product-prop">
                  <strong>ipsum
                  </strong><span> Lorem ipsum dolor sit</span>
                </div>
                <div class="Product-prop">
                  <strong>dolor sit
                  </strong><span> 5 ans</span>
                </div>
                <div class="Product-prop">
                  <strong>psum dolo
                  </strong><span> 2–3 jours</span>
                </div>
              </div>
            </div>
            <div class="Tabs-block" id="reviews">
              <header class="Section-header">
                <h3 class="Section-title">2 Reviews
                </h3>
              </header>
              <div class="Comments">
                <div class="Comment">
                  <div class="Comment-column Comment-column_pict">
                    <div class="Comment-avatar">
                    </div>
                  </div>
                  <div class="Comment-column">
                    <header class="Comment-header">
                      <div>
                        <strong class="Comment-title">Alexandra Brownie
                        </strong><span class="Comment-date">December 25&#32;&#32;/&#32;&#32;2017&#32;&#32;/&#32;&#32;22:50</span>
                      </div>
                    </header>
                    <div class="Comment-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus element semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae.
                    </div>
                  </div>
                </div>
              </div>
              <header class="Section-header Section-header_product">
                <h3 class="Section-title">Add Review
                </h3>
              </header>
              <div class="Tabs-addComment">
                <form class="form" action="#" method="post">
                  <div class="form-group">
                    <textarea class="form-textarea" name="review" id="review" placeholder="Review"></textarea>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="row-block">
                        <input class="form-input" id="name" name="name" type="text" placeholder="Name"/>
                      </div>
                      <div class="row-block">
                        <input class="form-input" id="email" name="email" type="text" placeholder="Email"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn_muted" type="submit">Submit Review
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
