{% extends "app_user/account/account_base.html" %}
{% load static %}

{% block junior_header %}
    {% include "includes/junior_header.html" with title="Регистрация" %}
{% endblock %}

{% block account_navigation %}{% endblock %}

{% block account_content %}
  <div class="registration-form-width">
    <div class="Profile">
      <form class="form Profile-form" action="{% url 'user:registration' %}" method="post" enctype="multipart/form-data">
        {% include "app_user/account/includes/data_entry_forms.html" with form=form button_text="Зарегистрироваться" %}
      </form>
    </div>
  </div>
{% endblock %}
