{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">

  <!-- Шапка -->
  {% block account_header %}{% endblock %}

  <!-- Тело страницы -->
  {% block account_body %}

  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">

      <!-- Блок навигации по личному кабинету -->
      {% block account_navigation %}
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Навигация
              </strong>
            </header>
            <div class="Section-columnContent">
                <div class="NavigateProfile">
                  <ul class="menu menu_vt">
                    <li class="{% block activation_status_for_account %}{% endblock %} menu-item"><a class="menu-link" href="account.html">Личный кабинет</a></li>
                    <li class="{% block activation_status_for_profile %}{% endblock %} menu-item"><a class="menu-link" href="profile.html">Профиль</a></li>
                    <li class="{% block activation_status_for_order_history %}{% endblock %} menu-item"><a class="menu-link" href="../../app_shop/orders/historyorder.html">История заказов</a></li>
                    {% block order_history %}{% endblock %}
                  </ul>
                </div>
            </div>
          </div>
        </div>
      {% endblock %}

      <!-- Блок страницы -->
      <div class="Section-content">
        {% block account_content %}{% endblock %}
      </div>

    </div>
  </div>

  {% endblock %}
  </div>
{% endblock %}