{% extends "app_user/account/account_base.html" %}
{% load static %}

{% block junior_header %}
    {% include "includes/junior_header.html" with title="Авторизация" %}
{% endblock %}

{% block account_navigation %}{% endblock %}

{% block account_content %}
  <div class="Profile">
{#    <form class="form Profile-form auth-block" action="{% url 'user:login' %}" method="post">#}
    <form class="form Profile-form auth-block" action="{{ request.get_full_path }}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="row-block auth-width">

          <div class="form-group">
            <label class="form-label" for="mail">{{ form.email.label }}</label>
            <input class="form-input" id="mail" name="email" type="text" data-validate="require"/>

            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <div class="Profile-success error-message">{{ error | escape }}</div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="form-group">
            <label class="form-label" for="password">{{ form.password.label }}</label>
            <input class="form-input" id="password" name="password" type="password" placeholder="{{ form.password.help_text }}"/>

            {% if form.password.errors %}
              {% for error in form.password.errors %}
                <div class="Profile-success error-message">{{ error | escape }}</div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="password-recovery-block">
            <a class="password-recovery-link" href="{% url 'user:password_recovery' %}">Не помню пароль</a>
          </div>

          {% if error_message %}  <!-- Текст ошибки при неудачной регистрации -->
            <div class="Profile-success error-message button-margin-bottom">{{ error_message | escape }}</div>
          {% endif %}

          <div class="form-group flex authorization-button">

            <div class="Profile-register">
              <div class="register-text flex">
                <p class="text-reset">Ещё нет профиля?</p>
                <a class="small-text" href="{% url 'user:registration' %}">Зарегистрируйтесь</a>
              </div>
            </div>

            <div class="Profile-btn">
              {% block save_data_button %}
                <button class="btn btn_success" type="submit">Авторизоваться</button>
              {% endblock %}
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
