{% extends "app_user/account/account_base.html" %}
{% load static %}

{% block junior_header %}
    {% include "includes/junior_header.html" with title="Восстановление пароля" %}
{% endblock %}

{% block account_navigation %}{% endblock %}

{% block account_content %}
  <div class="Profile">
    <form class="form Profile-form auth-block" action="{% url 'user:password_recovery' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="row-block auth-width">

          <div class="recovery-password-text">
            <p>Укажите, куда отправить инструкции для восстановления пароля.</p>
          </div>

          <div class="form-group">
            <label class="form-label" for="mail">{{ form.email.label }}</label>
            <input class="form-input" id="mail" name="email" type="text" data-validate="require"/>
          </div>

          <div class="form-group flex authorization-button">
            <div class="Profile-register">
              <div>У вас уже есть профиль?
                <a href="{% url 'user:login' %}">Войдите</a>
              </div>
            </div>

            <div class="Profile-btn">
              {% block save_data_button %}
                <button class="btn btn_success" type="submit">Отправить</button>
              {% endblock %}
            </div>
          </div>

          <div class="error-messages-block">
            {% if form.errors %}  <!-- Текст ошибки для полей с невалидными данными -->
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="Profile-success error-message">{{ error | escape }}</div>
                {% endfor %}
              {% endfor %}
            {% endif %}

            {% if message %}
              <div class="Profile-success">{{ message | escape }}</div>
            {% elif error_message %}
              <div class="Profile-success good-message">{{ message | escape }}</div>
            {% endif %}
          </div>

        </div>
      </div>
    </form>
  </div>
{% endblock %}
