<div class="Profile">
  <form class="form Profile-form" action="{% url 'user:registration' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="row-block">
        <div class="form-group">
          <label class="form-label" for="avatar">{{ form.avatar.label }}</label>
          <div class="Profile-avatar Profile-avatar_noimg">
            <!-- Добавить вывод уже загруженного ранее аватара -->
{#            <div class="Profile-img">#}
{#              <img src="assets/img/#.png" alt="#.png"/>#}
{#            </div>#}
            <label class="Profile-fileLabel" for="avatar">{{ form.avatar.help_text }}</label>
            <input class="Profile-file form-input" id="avatar" name="avatar" type="file" data-validate="onlyImgAvatar"/>
          </div>

        </div>

        <div class="form-group">
          <label class="form-label" for="name">{{ form.full_name.label }}</label>
          <input class="form-input" id="name" name="full_name" type="text" value="" data-validate="require"/>
        </div>

      </div>

      <div class="row-block">

        <div class="form-group">
          <label class="form-label" for="phone">{{ form.phone_number.label }}</label>
          <input class="form-input" id="phone" name="phone_number" type="text" value="+70000000000"/>
        </div>

        <div class="form-group">
          <label class="form-label" for="mail">{{ form.email.label }}</label>
          <input class="form-input" id="mail" name="email" type="text" value="send@test.test" data-validate="require"/>
        </div>

        <div class="form-group">
          <label class="form-label" for="password">{{ form.password1.label }}</label>
          <input class="form-input" id="password" name="password1" type="password" placeholder="{{ form.password1.help_text }}"/>
        </div>

        <div class="form-group">
          <label class="form-label" for="passwordReply">{{ form.password2.label }}</label>
          <input class="form-input" id="passwordReply" name="password2" type="password" placeholder="{{ form.password2.help_text }}"/>
        </div>

        <div class="form-group">

          <div class="Profile-btn">
            {% block save_data_button %}
              <button class="btn btn_success" type="submit">{{ button_text }}</button>
            {% endblock %}
          </div>

          {% if form.errors %}  <!-- Текст ошибки для полей с невалидными данными -->
            {% for field in form %}
              {% for error in field.errors %}
                <div class="Profile-success error-message">{{ error | escape }}</div>
              {% endfor %}
            {% endfor %}
          {% endif %}

          {% if error_message %}  <!-- Текст ошибки при неудачной регистрации -->
            <div class="Profile-success error-message">{{ error_message | escape }}</div>
          {% endif %}

        </div>
      </div>
    </div>
  </form>

</div>
