 <script>
  const loadBtnAddToCart = document.getElementById('add-to-cart');  // Получаем элемент по id (кнопка "Добавить в корзину")
  const spinnerProduct = document.getElementById('spinner-product');  // Получаем элемент по id = spinner (сообщение "Загрузка...")
  const alertProduct = document.getElementById('alert-product');  // Получаем элемент по id = alert (сообщение "Товаров больше нет")

  const blockNotInCart = document.getElementById('product-not-in-cart')
  const blockInCart = document.getElementById('product-in-cart')

  function addToCart() {
    const countProduct = document.getElementById('product-count').value;  // Некорректное число
    console.debug('%cDEBUG: старт функции addToCart', 'color: grey;');
    var _product_id = {{ object.id }}

    console.log(`%cINFO: id товара - ${_product_id}`, 'color: green;');
    console.log(`%cINFO: кол-во товара - ${countProduct}`, 'color: green;');

    $.ajax({
      url: '{% url "shop:add_to_cart" %}',  // Выполняем ajax-запрос на указанный URL
      type: 'GET',  // Тип запроса
      data: {  // Отправляемые данные
        'product_id': _product_id,
        'count': countProduct
      },

      beforeSend: function () {  // Функция отправки
        blockNotInCart.classList.add('not-visible');  // Скрываем кнопку "Загрузить еще" при отправке запроса, добавив класс для скрытия блока
        spinnerProduct.classList.remove('not-visible');  // Выводим иконку "Загрузка.."
      },

      success: function (response) {  // Функция успеха, принимает объект ответа из функции
        const data = response.res  // Сохраняем полученные данные (новые загружаемые товары)
        console.log(`%cINFO: ответ от сервера - ${data}`, 'color: green;');

        spinnerProduct.classList.add('not-visible')  // Скрываем сообщение о загрузке, добавив класс для скрытия блока
        blockInCart.classList.remove('not-visible');
        blockNotInCart.classList.add('not-visible');
      },

      error: function (err) {  // Функция, вызываемая при ошибке. Принимает текст ошибки
        console.error(`%cERROR: ошибка: ${err}`, 'color: black;');
      },
    });
  }

  loadBtnAddToCart.addEventListener('click', () => {  // При событии "нажатие" вызовется функция loadmorePost()
    console.debug('%cDEBUG: добавление товара в корзину', 'color: grey;');
    addToCart()
  });
</script>
