{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block content %}

  {% block junior_header %}
    {% include "includes/junior_header.html" with title='Продукт' %}
  {% endblock %}

{#  {% with object.productimages_set.all|first as image %}#}
  {% with object.productimages_set.all as images %}
    {% with images|first as first_img %}
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                <img src="{{ first_img.image.url }}" alt="{{ first_img.title }}"/>
              </div>
              <div class="ProductCard-picts">
                {% for img in images|slice:":7" %}  <!-- Не более 7 изображений к товару -->
                  <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ img.image.url }}">
                    <img src="{{ img.image.url }}" alt="{{ img.title }}"/>
                  </a>
                {% endfor %}
              </div>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title">{{ object.name }}</h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    {% if object.discount %}
                      <div class="ProductCard-price discount-price">{{ object.price }}<small> руб</small></div>
                      <div class="discount">—{{ object.discount }}%</div>
                      <div class="old-price">{{ object.discounted_price }} р</div>
                    {% else %}
                      <div class="ProductCard-price">{{ object.price }}<small> руб</small></div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                <ul>
                  {% for key, value in object.characteristics.items %}
                    <li>{{ key }}: {{ value }}</li>
                  {% endfor %}
                </ul>
              </div>

              {% if object.id not in cart_products %}  <!-- Если товара нет в корзине пользователя -->
                <div class="ProductCard-cart ProductCard-cart--aline-center">
                  <div class="product-block" id="product-not-in-cart">
                    <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                      <div class="Amount Amount_product">
                        <button id="Amount-remove" class="Amount-remove" type="button"></button>
                        <input class="Amount-input form-input" name="amount" type="text" value="1" id="product-count"/>
                        <button id="Amount-add" class="Amount-add" type="button"></button>
                      </div>
                    </div>
                    <div class="ProductCard-cartElement">
                      <a class="btn btn_primary" id="add-to-cart">
                        <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                        <span class="btn-content">Добавить в корзину</span>
                      </a>
                    </div>
                  </div>

                  <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner-product">
                    <span class="sr-only">Загрузка...</span>
                  </div>

                  <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert-product'>Произошла ошибка</div>

                  <div class="product-block not-visible" id="product-in-cart">
                    <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                        <p class="btn_narrow">Товар в корзине</p>
                      </div>
                      <div class="ProductCard-cartElement">
                        <a class="btn btn_primary btn_primary--grey" href="{% url 'shop:shopping_cart' %}">
                          <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                          <span class="btn-content">Перейти в корзину</span>
                        </a>
                      </div>
                  </div>
                </div>

              {% else %}  <!-- Если товар в корзине -->
                <div class="ProductCard-cart ProductCard-cart--aline-center">
                    <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                      <p class="btn_narrow">Товар в корзине</p>
                    </div>
                    <div class="ProductCard-cartElement">
                      <a class="btn btn_primary btn_primary--grey" href="{% url 'shop:shopping_cart' %}">
                        <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                        <span class="btn-content">Перейти в корзину</span>
                      </a>
                    </div>
                </div>
              {% endif %}

              <!-- Почему не подключается? -->
{#              <script type="text/javascript" src="{% static 'assets/js/add-to-cart.js' %}"></script>#}

              <!-- JS для добавления товара в корзину -->
              {% include "app_shop/detail_product/add_to_cart.html" %}

              <div class="ProductCard-footer">
                <div class="ProductCard-tags">
                  {% tags_for_product object as tags_list %}
                  {% if tags_list %}
                    <strong class="ProductCard-tagsTitle">Теги:</strong>
                      {% for tag in tags_list %}
                        <a href="{% url 'shop:products_list' group='tag' name=tag.slug %}">{{ tag.name }}</a>
                        <!-- Вставка запятой, если элемент не последний в списке -->
                        {% if not forloop.last %},{% endif %}
                      {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links">
              <a class="Tabs-link_ACTIVE Tabs-link" href="#description">
                <span>Описание</span>
              </a>
              <a class="Tabs-link" href="#addit">
                <span>Дополнительная информация</span>
              </a>
              <a class="Tabs-link" href="#reviews">
                {% if comments %}
                  <span>Отзывы ({{ total_comments }})</span>
                {% else %}
                  <span>Отзывы</span>
                {% endif %}
              </a>
            </div>

            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description">
                <h2>{{ object.name }}</h2>
                <div class="product-section flex">
                  <p class="product_descr">{{ object.definition }}</p>
                  <img class="pict pict_right pict_mixin" src="{{ object.productimages_set.first.image.url }}" alt="{{ object.productimages_set.first.title }}"/>
                </div>
                <div class="clearfix"></div>
                <div class="table">
                  <table>
                    <tr>
                      <th>Характеристика</th>
                      <th>Значение</th>
                    </tr>
                      {% for key, value in object.characteristics.items %}
                        <tr>
                          <td>{{ key }}</td>
                          <td>{{ value }}</td>
                        </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
              <div class="Tabs-block" id="sellers">
                <div class="Categories Categories_product"></div>
              </div>
              <div class="Tabs-block" id="addit">
                <div class="Product-props">
                  {% for key, value in object.characteristics.items %}
                    <div class="Product-prop">
                      <strong>{{ key }}</strong>
                      <span>{{ value }}</span>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="Tabs-block" id="reviews">
                <header class="Section-header">
{#                  {% with comments|length as comments_count %}#}
                  {% with total_comments as comments_count %}
                    {% check_for_word_end comments_count as end %}
                    <h3 class="Section-title">{{ comments_count }} отзыв{{ end }}</h3>
                  {% endwith %}
                </header>

                {% if comments %}
                  <div class="Comments" id="comments">
                    {% for comment in comments %}
                      <div class="Comment">
                        <div class="Comment-column Comment-column_pict">
                          {% if comment.buyer.profile.avatar %}
                            <img src="{{ comment.buyer.profile.avatar.url }}" alt="{{ comment.buyer.profile.avatar.title }}" class="Comment-avatar-custom">
                          {% else %}
                            <div class="Comment-avatar"></div>
                          {% endif %}
                        </div>
                        <div class="Comment-column">
                          <header class="Comment-header">
                            <div>
                              <strong class="Comment-title">{{ comment.buyer.profile.full_name }}</strong>
                              <span class="Comment-date">{{ comment.created_at }}</span>
                            </div>
                          </header>
                          <div class="Comment-content">{{ comment.review }}</div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>

                  <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner-comments">
                      <span class="sr-only">Загрузка...</span>
                  </div>
                  <div class="load-more__btn mt-3" id="btn-load-comments">
                    <button type="button" class="btn btn-success btn_primary btn-blue">Загрузить еще</button>
                  </div>
                  <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert-comments'>Отзывов больше нет!</div>

                  <!-- JS для загрузки доп.комментариев к товару -->
{#                  {{ total_comments|json_script:"json-total" }}#}
                  {% include "app_shop/detail_product/upload_comments.html" %}

                {% endif %}

                <header class="Section-header Section-header_product">
                  <h3 id="comment" class="Section-title">Добавить отзыв</h3>
                </header>

                <!-- Проверка, что пользователь авторизован -->
                {% if request.user.is_authenticated %}

                  <!-- Если товар есть в истории покупок, то можно оставить отзыв к товару -->
  {#                {% if product_verification == True %}#}

                    {% if form.errors %}  <!-- Текст ошибки для полей с невалидными данными -->
                      {% for field in form %}
                        {% for error in field.errors %}
                          <div class="Profile-success error-message">{{ error | escape }}</div>
                        {% endfor %}
                      {% endfor %}
                    {% endif %}

                    {% if error_message %}  <!-- Текст ошибки при неудачной публикации комментария -->
                      <div class="Profile-success error-message">{{ error_message | escape }}</div>
                    {% endif %}

                    <div class="Tabs-addComment">
                      <form class="form" action="{% url 'shop:product_detail' object.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
      {#                    <textarea class="form-textarea" name="review" id="review" placeholder="Review"></textarea>#}
                          <textarea class="form-textarea" name="review" id="review" placeholder="{{ form.review.label }}" data-validate="require"></textarea>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="row-block">
                              <input class="form-input" id="name" name="name" type="text" value="{{ user.profile.full_name }}" placeholder="{{ form.name.label }}" data-validate="require"/>
                            </div>
                            <div class="row-block">
                              <input class="form-input" id="email" name="email" type="text" value="{{ user.email }}" placeholder="{{ form.email.label }}" data-validate="require"/>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn_muted btn-blue" type="submit">Отправить</button>
                        </div>
                      </form>
                    </div>

  {#                {% endif %}#}

                {% else %}
                  <p class="login_text">Только авторизованные пользователи могут оставлять комментарии. Пожалуйста, <a href="{% url 'user:login' %}">авторизуйтесь</a>.</p>
                {% endif %}

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
   {% endwith %}
  {% endwith %}

{% endblock %}
