<!--
Переводим переданную в шаблон переменную (общее кол-во товаров) в JSON.
Будет в отрисованном HTML-коде в виде <script id=json-total ...>10 (кол-во записей)</script>
-->
{{ total_comments|json_script:"json-total" }}

<script>
  // var _current_item = $('.single_content').length
  // console.log(_current_item);
  const loadBtnComments = document.getElementById('btn-load-comments');  // Получаем элемент по id = btn (кнопка "Загрузить еще")
  const spinnerComments = document.getElementById('spinner-comments');  // Получаем элемент по id = spinner (сообщение "Загрузка...")
  // Сохраняем в переменную общее кол-во выведенных записей, получив объект по id = json-total, распарсив из JSON
  const totalComments = JSON.parse(document.getElementById('json-total').textContent);
  const alertComments = document.getElementById('alert-comments');  // Получаем элемент по id = alert (сообщение "Товаров больше нет")

  function loadmorePost() {
    console.debug('%cDEBUG: старт функции loadmorePost', 'color: grey;');
    var _current_item = $('.Comment').length  // Кол-во выводимых записей в классе single_content
    var _product_id = {{ object.id }}
    const content_container = document.getElementById("comments");  // Сохраняем все полученные товары (в id=content) в переменную

    console.debug(`%cDEBUG: текущее кол-во комментариев - ${_current_item}`, 'color: grey;');
    console.log(`%cINFO: id товара - ${_product_id}`, 'color: green;');

    $.ajax({
      url: '{% url "shop:load_comments" %}',  // Выполняем ajax-запрос на указанный URL
      type: 'GET',  // Тип запроса
      data: {  // Отправляемые данные
        'loaded_item': _current_item,  // По ключу "loaded_item" передаем общее кол-во уже выведенных записей
        'product_id': _product_id
      },
      beforeSend: function () {  // Функция отправки
        loadBtnComments.classList.add('not-visible');  // Скрываем кнопку "Загрузить еще" при отправке запроса, добавив класс для скрытия блока
        spinnerComments.classList.remove('not-visible');  // Удаляем скрывающий блок у сообщения "Загрузка.."
      },
      success: function (response) {  // Функция успеха, принимает объект ответа из функции
        const data = response.comments  // Сохраняем полученные данные (новые загружаемые товары)
        console.log(`%cINFO: ответ от сервера - ${data}`, 'color: green;');

        spinnerComments.classList.add('not-visible')  // Скрываем сообщение о загрузке, добавив класс для скрытия блока
        data.map(comment => {
          console.debug(`%cDEBUG: вывод комментария: ${comment.review}`, 'color: grey;');
          // Добавляем контейнер с товарами (id=content) новым кодом из цикла с выводом очередного товара
          content_container.innerHTML += `<div class="Comment">
                                                    <div class="Comment-column Comment-column_pict">
                                                        <img src="${comment.avatar}" alt="${comment.name}" class="Comment-avatar-custom">
                                                    </div>
                                                    <div class="Comment-column">
                                                      <header class="Comment-header">
                                                        <div>
                                                          <strong class="Comment-title">${comment.name}</strong>
                                                          <span class="Comment-date">${comment.created_at}</span>
                                                        </div>
                                                      </header>
                                                      <div class="Comment-content">${comment.review}</div>
                                                    </div>
                                                  </div>`
        })
        // Если текущее кол-во выводимых записей станет равно общему кол-ву записей в БД (т.е. больше нет записей)
        if (_current_item == totalComments) {
          console.warn(`%cWARN: комментарии закончились`, 'color: black;');
          alertComments.classList.remove('not-visible');  // Делаем сообщение "Товаров больше нет" видимым
        } else {  // В противном случае
          loadBtnComments.classList.remove('not-visible');  // Делаем кнопку "Загрузить еще" видимой
          console.debug(`%cDEBUG: доступны еще комментарии для загрузки`, 'color: grey;');
        }
      },
      error: function (err) {  // Функция, вызываемая при ошибке. Принимает текст ошибки
        console.error(`%cERROR: ошибка: ${err}`, 'color: black;');
      },
    });
  }

  loadBtnComments.addEventListener('click', () => {  // При событии "нажатие" вызовется функция loadmorePost()
    console.debug('%cDEBUG: загрузка дополнительных комментариев', 'color: grey;');
    loadmorePost()
  });

</script>
