{% extends "app_user/account/account_base.html" %}
{% load static %}

{% block junior_header %}
    {% include "includes/junior_header.html" with title="История заказов" %}
{% endblock %}

{% block activation_status_for_order_history %}menu-item_ACTIVE{% endblock %}

{% block account_content %}
  <div class="Section-content">
    <div class="Orders">

      {% for order in object_list %}
        <div class="Order Order_anons">
          <div class="Order-personal">
            <div class="row">
              <div class="row-block">
                <a class="Order-title" href="{% url 'shop:order_detail' pk=order.id %}">Заказ&#32;
                  <span class="Order-numberOrder">{{ order.id }}</span>
                  &#32;от&#32;
                  <span class="Order-dateOrder">{{ order.data_created }}</span>
                  </a>
              </div>
              <div class="row-block">
                <div class="Order-info Order-info_delivery">
                  <div class="Order-infoType">Тип доставки:</div>
                  <div class="Order-infoContent">{{ order.get_delivery_display }}</div>
                </div>
                <div class="Order-info Order-info_pay">
                  <div class="Order-infoType">Оплата:</div>
                  <div class="Order-infoContent">{{ order.get_payment_display }}</div>
                </div>
                <div class="Order-info">
                  <div class="Order-infoType">Общая стоимость:</div>
                  <div class="Order-infoContent">
                    <span class="Order-price">{{ order.order_cost }} <small>руб</small></span>
                  </div>
                </div>
                <div class="Order-info Order-info_status">
                  <div class="Order-infoType">Статус:</div>
                    {% if order.status == 4 %}
                      <div class="Order-infoContent color-green">{{ order.get_status_display }}</div>
                    {% elif order.status == 2 %}
                      <div class="Order-infoContent discount-price">{{ order.get_status_display }}</div>
                    {% else %}
                      <div class="Order-infoContent">{{ order.get_status_display }}</div>
                    {% endif %}
                </div>
                {% if order.error_message %}
                  <div class="Order-info Order-info_error">
                    <div class="Order-infoType">{{ order.error_message.title }}:</div>
                    <div class="Order-infoContent">{{ order.error_message.description }}</div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    <!-- Пагинация -->
    <div class="Pagination">
      <div class="Pagination-ins">

        {% if page_obj.has_previous %}
          <a class="Pagination-element Pagination-element_prev" href="?page=1">
            <img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
          </a>
        {% endif %}

        {% for p in page_obj.paginator.page_range %}
          {% if page_obj.number == p %}
            <a class="Pagination-element Pagination-element_current" href="#">
              <span class="Pagination-text">{{ p }}</span>
            </a>
          {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <a class="Pagination-element" href="?page={{ p }}">
              <span class="Pagination-text">{{ p }}</span>
            </a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.paginator.num_pages }}">
            <img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
          </a>
        {% endif %}

      </div>
    </div>

    </div>
  </div>
{% endblock %}
