{% extends "base.html" %}
{% load static %}

{% block content %}

  {% block junior_header %}
    {% include "includes/junior_header.html" with title="Оформление заказа" %}
  {% endblock %}

  <div class="Section">
    <div class="wrap">
      <div class="Section-content">
        <div class="Orders">
        </div>
        <div class="Order">
          <div class="Order-infoBlock">
            <div class="Order-personal">
              <div class="row">
                <div class="row-block">
                  <div class="Order-info Order-info_date">
                    <div class="Order-infoType">Дата заказа:</div>
                    <div class="Order-infoContent">{{ object.data_created }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">ФИО:</div>
                    <div class="Order-infoContent">{{ object.user.profile.full_name }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">Телефон:</div>
                    <div class="Order-infoContent">+7{{ object.user.profile.phone_number }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">E-mail:</div>
                    <div class="Order-infoContent">{{ object.user.email }}</div>
                  </div>
                </div>
                <div class="row-block">
                  <div class="Order-info Order-info_delivery">
                    <div class="Order-infoType">Тип доставки:</div>
                    <div class="Order-infoContent">{{ object.get_delivery_display }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">Город:</div>
                    <div class="Order-infoContent">{{ object.city }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">Адрес:</div>
                    <div class="Order-infoContent">{{ object.address }}</div>
                  </div>
                  <div class="Order-info Order-info_pay">
                    <div class="Order-infoType">Оплата:</div>
                    <div class="Order-infoContent">{{ object.get_payment_display }}</div>
                  </div>
                  <div class="Order-info Order-info_status">
                    <div class="Order-infoType">Статус:</div>
                    {% if object.status == 4 %}
                      <div class="Order-infoContent color-green">{{ object.get_status_display }}</div>
                    {% elif object.status == 2 %}
                      <div class="Order-infoContent discount-price">{{ object.get_status_display }}</div>
                    {% else %}
                      <div class="Order-infoContent">{{ object.get_status_display }}</div>
                    {% endif %}
                  </div>
                  {% if object.error_message %}
                    <div class="Order-info Order-info_error">
                      <div class="Order-infoType">{{ object.error_message.title }}:</div>
                      <div class="Order-infoContent">{{ object.error_message.description }}</div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="Cart Cart_order">
              {% for product_record in products %}
                {% with product_record.product as product %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict">
                        <a class="Cart-pict" href="{% url 'shop:product_detail' pk=product.id %}">
                          {% with product.images.first as product_img %}
                            <img class="Cart-img" src="{{ product_img.image.url }}" alt="{{ product_img.title }}"/></a>
                          {% endwith %}
                      </div>
                      <div class="Cart-block Cart-block_info">
                        <a class="Cart-title" href="{% url 'shop:product_detail' pk=product.id %}">{{ product.name }}</a>
                        <div class="Cart-desc">{{ product.definition|truncatechars:300 }}</div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        <div class="Cart-price">{{ product_record.price }} <small>руб</small></div>
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_amount">{{ product_record.count }} <small>шт.</small></div>
                    </div>
                  </div>
                {% endwith %}
              {% endfor %}

              <div class="Cart-total">
                <div class="Cart-block Cart-block_total flex">
                  <strong class="Cart-title">Итого:</strong>
                  <span class="Cart-price">{{ object.order_cost }} <small>руб</small></span>
                </div>
                {% if object.status == 1 or object.status == 2 %}
                  <div class="Cart-block">
                    {% if object.payment == 1 %}
                      <a class="btn btn_primary btn_lg" href="{% url 'shop:online_payment' order_id=object.id %}">Оплатить</a>
                    {% else %}
                      <a class="btn btn_primary btn_lg" href="{% url 'shop:someone_payment' order_id=object.id %}">Оплатить</a>
                    {% endif %}
                      </div>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
