<div class="Section-column">
  <div class="Section-columnSection">
    <header class="Section-header">
      <strong class="Section-title">Фильтр</strong>
    </header>
    <div class="Section-columnContent">
      <form class="form" action="{% url 'shop:products_filter_list' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <div class="range Section-columnRange">
            <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="1" data-max="10000" data-from="7" data-to="27"/>
            <div class="range-price">Цена:&#32;
              <div class="rangePrice"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название"/>
        </div>
        <div class="form-group">
          <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
        </div>
        <div class="form-group">
          <label class="toggle">
            <input type="checkbox" name="in_stock" value="true"/>
            <span class="toggle-box"></span>
            <span class="toggle-text">Только товары в наличии</span>
          </label>
        </div>
        <div class="form-group">
          <label class="toggle">
            <input type="checkbox" name="free_shipping" value="true"/>
              <span class="toggle-box"></span>
            <span class="toggle-text">С бесплатной доставкой</span>
          </label>
        </div>
        <div class="form-group">
          <div class="buttons">
{#            <a class="btn btn_square btn_dark btn_narrow" href="#">Фильтровать</a>#}
            <button class="btn btn_square btn_dark btn_narrow">Фильтровать</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="Section-columnSection">
    <header class="Section-header">
      <strong class="Section-title">Популярные теги</strong>
    </header>
    <div class="Section-columnContent">
      <div class="buttons">
        <a class="btn btn_default btn_sm" href="#">Video</a>
        <a class="btn btn_default btn_sm" href="#">Development</a>
        <a class="btn btn_default btn_sm" href="#">Gaming</a>
        <a class="btn btn_default btn_sm" href="#">Asus</a>
        <a class="btn btn_default btn_sm" href="#">Development</a>
        <a class="btn btn_default btn_sm" href="#">Video</a>
      </div>
    </div>
  </div>
</div>
