{% load static %}
{% load links %}  <!-- Очистка ссылок для корректной обработки параметров из URL -->

<div class="Pagination">
  <div class="Pagination-ins">
    {% clear_link_for_paginate request.get_full_path as page_link %}

    {% if page_obj.has_previous %}
{#      <a class="Pagination-element Pagination-element_prev" href="?page=1">#}
      <!-- Сделать вызов другого тега -->
      <a class="Pagination-element Pagination-element_prev" href="{{ page_link }}page=1">
        <img src="{% static 'assets/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
      </a>
    {% endif %}

    {% for p in page_obj.paginator.page_range %}
      {% if page_obj.number == p %}
        <a class="Pagination-element Pagination-element_current" href="#">
          <span class="Pagination-text">{{ p }}</span>
        </a>
      {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
{#        <a class="Pagination-element" href="?page={{ p }}">#}
        <!-- Сделать вызов другого тега -->
        <a class="Pagination-element" href="{{ page_link }}page={{ p }}">
          <span class="Pagination-text">{{ p }}</span>
        </a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
{#      <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.paginator.num_pages }}">#}
      <!-- Сделать вызов другого тега -->
      <a class="Pagination-element Pagination-element_prev" href="{{ page_link }}page={{ page_obj.paginator.num_pages }}">
        <img src="{% static 'assets/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
      </a>
    {% endif %}

  </div>
</div>

{#<div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

