{% load static %}
{% load product_card %}

<div class="Card">
  <a class="Card-picture" href="{% url 'shop:product_detail' product.id %}">
    {% with product.images.first as image %}
      <img src="{{ image.image.url }}" alt="{{ image.title }}"/>
    {% endwith %}
  </a>
  <div class="Card-content Card-content-custom">
    <strong class="Card-title">
      <a href={% url 'shop:product_detail' product.id %}>{{ product.name }}</a>
    </strong>
    <div class="Card-description">
      {% if product.discount %}
        <div class="Card-cost flex price-block">
          <div class="Card-price discount-price">{{ product.price }}<small> руб</small></div>
          <div class="discount-block">
            <div class="discount">—{{ product.discount }}%</div>
            <div class="old-price">{{ product.price }} р</div>
          </div>
        </div>
      {% else %}
        <div class="Card-cost">
          <span class="Card-price">{{ product.price }} <small>руб</small></span>
        </div>
      {% endif %}
      <div class="Card-category">{{ product.category.title }}</div>
      <div class="Card-hover">

        {% if product.id not in products_id %}  <!-- Если товара нет в корзине -->
          <!-- Кнопка добавления товара в корзину -->
          <a class="Card-btn" href="{% url 'shop:add_product' product_id=product.id next=request.get_full_path %}">
            <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
          </a>
        {% else %}  <!-- Если товар в корзине -->
          <!-- Кнопка удаления товара из корзины -->
          <a class="Card-btn" href="{% url 'shop:delete_product' product_id=product.id next=request.get_full_path %}">
            <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="cart.svg"/>
          </a>
        {% endif %}

      </div>
    </div>
  </div>
</div>
