{% load static %}

<footer class="Footer">
    <div class="wrap">
      <div class="row Footer-main">
        <div class="row-block"><a class="logo Footer-logo" href="index.html"><img class="logo-image" src="{% static 'assets/img/logo_footer.png' %}" alt="logo_footer.png"/></a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
          </p>
          <ul class="menu menu_img menu_smallImg Footer-menuSoc">
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <img src="{% static 'assets/img/icons/socialFooter/fb.svg' %}" alt="fb.svg"/>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <img src="{% static 'assets/img/icons/socialFooter/tw.svg' %}" alt="tw.svg"/>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <img src="{% static 'assets/img/icons/socialFooter/in.svg' %}" alt="in.svg"/>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <img src="{% static 'assets/img/icons/socialFooter/pt.svg' %}" alt="pt.svg"/>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <img src="{% static 'assets/img/icons/socialFooter/mail.svg' %}" alt="mail.svg"/>
                </a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Useful Links</strong>
          <ul class="menu menu_vt Footer-menu">
            <li class="menu-item">
                <a class="menu-link" href="#">Checkout</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">My Cart</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Delivery</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Order Info</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Terms</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Conditions</a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">My Account</strong>
          <ul class="menu menu_vt Footer-menu">
            <li class="menu-item">
                <a class="menu-link" href="#">Accessories</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Bags</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Cameras</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Clothings</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Electronics</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">Fashion</a>
            </li>
          </ul>
        </div>
        <div class="row-block">
          <strong class="Footer-title">Contacts</strong>
          <p>Phone: 8.800.200.600<br>Email: Support@ninzio.com<br>Skype: techno<br>Address: New York, north<br>Avenue 26/7<br>0057</p>
        </div>
      </div>
    </div>
    <div class="Footer-copy">
      <div class="wrap">
        <div class="row row_space">
          <div class="row-block">© Copyright&#32;<a href="#">Megano Store.</a>&#32;All rights reserved.</div>
          <div class="row-block"><span>Accepted Payments</span>
            <div class="Footer-payments">
              <div><img src="{% static 'assets/img/payments/visa.png' %}" alt="visa.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/mastercard.png' %}" alt="mastercard.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/paypal.png' %}" alt="paypal.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/american.png' %}" alt="american.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/electron.png' %}" alt="electron.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/maestro.png' %}" alt="maestro.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/delta.png' %}" alt="delta.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/e.png' %}" alt="e.png"/>
              </div>
              <div><img src="{% static 'assets/img/payments/dk.png' %}" alt="dk.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>

<!--+Middle-->
<!--    +div.-top-->
<!--        +breadcrumbs('Главная','Портфолио')-->
<!--    +Article('portfolio')-->
<!---->
<script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
<script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
<script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>