{% load static %}
{% load cache %}
{% load header_tags %}
{% load mptt_tags %}
{% load solo_tags %}  <!-- Загрузка тегов solo -->
{% output_categories as categories_list %}

<header class="Header">
    <div class="ControlPanel">
      <div class="wrap">
        <div class="row ControlPanel-row">
          <div class="row-block">
            <div class="row ControlPanel-rowSplit">
              <div class="row-block">
                <a class="ControlPanel-title" href="#">Доставка</a>
              </div>
              <div class="row-block hide_700">
                  <span class="ControlPanel-title">Соц.сети</span>
                <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <img src="{% static 'assets/img/icons/socialHeader/fb.svg' %}" alt="fb.svg"/></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <img src="{% static 'assets/img/icons/socialHeader/tw.svg' %}" alt="tw.svg"/></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <img src="{% static 'assets/img/icons/socialHeader/in.svg' %}" alt="in.svg"/></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <img src="{% static 'assets/img/icons/socialHeader/pt.svg' %}" alt="pt.svg"/></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <img src="{% static 'assets/img/icons/socialHeader/mail.svg' %}" alt="mail.svg"/></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <nav class="row-block">
            <div class="row ControlPanel-rowSplit">
              {% if request.user.is_authenticated %}
                <div class="row-block">
                  <a class="ControlPanel-title" href="{% url 'user:account' %}">Личный кабинет</a>
                </div>
              {% else %}
                <div class="row-block">
                  <a class="ControlPanel-title" href="{% url 'user:login' %}">Войти</a>
                  <p class="login-separator">/</p>
                  <a class="ControlPanel-title" href="{% url 'user:registration' %}">Регистрация</a>
                </div>
              {% endif %}
            </div>
          </nav>
        </div>
      </div>
      <!--+div.menuModal#navigate
      //    +menu([
      //        ['Главная','index.html'],
      //        ['Портфолио','index.html'],
      //        ['Мои проекты','index.html'],
      //        ['Контакты','index.html']
      //    ], page === 'article'? 'Портфолио': 'Главная')._main

      block
      -->
    </div>
    <div class="wrap">
      <div class="row Header-rowMain">
        <div class="row-block Header-logo">
          <a class="logo" href="{% url 'shop:main' %}">
            {% get_solo "config.SiteConfiguration" as site_config %}  <!-- Подгружаем тег -->
              {% if site_config.logo_head %}
                <img class="logo-image" src="{{ site_config.logo_head.url }}" alt="logo.png"/>  <!-- Выводим логотип из модели -->
              {% endif %}
          </a>
        </div>
        <nav class="row-block row-block_right Header-menu">
          <div class="menuModal" id="navigate">
            <ul class="menu menu_main">
              <li class="menu-item">
                <a class="menu-link" href="{% url 'shop:main' %}">Главная</a>
              </li>

              <li class="menu-item">
                <a class="menu-link" href="{% url 'shop:sale' %}">Блог</a>
              </li>

              <li class="menu-item">
                <a class="menu-link" href="{% url 'shop:products_list' %}">Каталог</a>
              </li>

              <li class="menu-item">
                <a class="menu-link" href="{% url 'shop:about' %}">О нас</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row-block">
          <div class="CartBlock">
            <!-- Возвращает: 1 аргумент - кол-во товаров в корзине; 2 аргумент - общая стоимость товаров с учетом скидок -->
            {% products_cart as data %}
            <a class="CartBlock-block" href="{% url 'shop:shopping_cart' %}">
              <img class="CartBlock-img" src="{% static 'assets/img/icons/cart.svg' %}" alt="cart.svg"/>
              <span class="CartBlock-amount">{{ data.0 }}</span>
            </a>
            <div class="CartBlock-block">
              <span class="CartBlock-price CartBlock-price--width">{{ data.1 }}<small> руб</small></span>
            </div>
          </div>
        </div>
        <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
            <div class="menuTrigger-content">Показать навигацию</div><span></span><span></span><span></span></a>
        </div>
      </div>
    </div>
    <div class="Header-searchWrap">
      <div class="wrap">
        <div class="Header-categories">
          <div class="CategoriesButton">
            <div class="CategoriesButton-title">
              <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/allDep.svg' %}" alt="allDep.svg"/></div>
              <span class="CategoriesButton-text">Каталог</span>
              <div class="CategoriesButton-arrow"></div>
            </div>

            <div class="CategoriesButton-content">
            {% if categories_list %}
              {% cache 60 * site_config.caching_time categories %}
                {% recursetree categories_list %}
                  <div class="CategoriesButton-link">
                    <a href="{% url 'shop:products_list' group='category' name=node.slug %}">
                      <div class="CategoriesButton-icon">
                        {% if node.icon %}
                          <img src="{{ node.icon.url }}" alt=""/>
                        {% endif %}
                      </div>
                      <span class="CategoriesButton-text">{{ node.title }}</span>
                    </a>

                    {% if node.children.count != 0 %}
                      <a class="CategoriesButton-arrow" href="#"></a>
                      <div class="CategoriesButton-submenu">

                        {% for item in node.children.all %}
                          <a class="CategoriesButton-link" href="{% url 'shop:products_list' group='category' name=item.slug %}">
                            <div class="CategoriesButton-icon">
                              {% if item.icon %}
                                <img src="{{ item.icon.url }}" alt=""/>
                              {% endif %}
                            </div>
                            <span class="CategoriesButton-text">{{ item.title }}</span>
                          </a>
                        {% endfor %}

                      </div>
                    {% endif %}
                  </div>
                {% endrecursetree %}
              {% endcache %}
            {% endif %}

            </div>
          </div>
        </div>
        <div class="Header-searchLink"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
        </div>
        <div class="Header-search">
          <div class="search">
            <form class="form form_search" action="{% url 'shop:search' %}" method="get">
              {% if query %}
                <input class="search-input" id="query" name="query" type="text" placeholder="Искать товары..." value="{{ query }}"/>
              {% else %}
                <input class="search-input" id="query" name="query" type="text" placeholder="Искать товары..."/>
              {% endif %}
              <button class="search-button" type="submit" id="search">
                <img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>Поиск</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</header>
